<section class='section-about'>

  <h3 id="about-me">About</h3>
  <h3 class='about-me'>About</h3>

  <div class="container face-me">

    <div class="two columns icon">
      <span class="icon-pencil">{% include icons/icon-pencil.html %}</span>
      <span class="short-desc1">{{ site.data.settings.short-desc1 }}</span>
    </div>
    <div class="two columns icon">
      <span class="icon-mouse">{% include icons/icon-mouse.html %}</span>
      <span class="short-desc2">{{ site.data.settings.short-desc2 }}</span>
    </div>
    <div class="four columns face-img"></div>
    <div class="two columns icon">
      <span class="icon-browser">{% include icons/icon-browser.html %}</span>
      <span class="short-desc3">{{ site.data.settings.short-desc3 }}</span>
    </div>
    <div class="two columns icon">
      <span class="icon-video">{% include icons/icon-video.html %}</span>
      <span class="short-desc4">{{ site.data.settings.short-desc4 }}</span>
    </div>
    </div>

    <div class="container">
    <div class="six columns blurb">
      {{ site.data.settings.blurb | markdownify }}
    </div>

    {% if site.data.settings.skills %}

    <div class="six columns skill-lockup">

      {% for skill in site.data.settings.skills %}

        <div class="skill-unit">
          <div class="skill-label">{{ skill.name }}</div>
          <div class="skill-icons skill-{{ skill.value }}">
            {% for i in (1..10) %}
              <span></span>
            {% endfor %}
          </div>
        </div>

      {% endfor %}

    </div>

    {% endif %}
  </div>
</section>
