    <!-- Header -->
<header id='header'>
  <div class="overlay">
    <div class="container">
      <!--navigation html   -->
      <div class="navigation">
        <div class="logo"></div>
          <nav>
            {% for item in site.data.settings.menu %}
              <a href="{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
          </nav>
      </div>
    </div>
    <div class="video-container">
        <div class="container">
                <div class="intro-text">
                  <h1 class="intro-typingtext"></span></h1>
                  <div class="posts">
                     <span class="post1">{{ site.data.settings.post1 }}</span>
                     <span class="post2">{{ site.data.settings.post2 }}</span>
                     <span class="post3">{{ site.data.settings.post3 }}</span>
                  </div>
                </div>

        </div>
  </div>
  </div>
</header>
