    <!-- Header -->
<header id='header'>
  <div class="overlay">
    <div class="video-container">
      <video poster="" id="bgvid" playsinline autoplay muted loop>
        <source src="assets/img/typing.mov" type="video/webm">
        <source src="assets/img/typing.mov" type="video/mp4">
    </video>

        <div class="container">

                <div class="intro-text">
                  <h1 class="intro-typingtext"></span></h1>
                  <div class="posts">
                     <span class="post1">{{ site.data.settings.post1 }}</span>
                     <span class="post2">{{ site.data.settings.post2 }}</span>
                     <span class="post3">{{ site.data.settings.post3 }}</span>
                  </div>
                </div>

        </div>
  </div>
  </div>
</header>
