    <!-- Header -->
<header id='header'>
  <div class="overlay">
    <div class="video-container">
      <video poster="" id="bgvid" playsinline autoplay muted loop>
        <source src="" type="video/webm">
        <source src="" type="video/mp4">
    </video>

        <div class="container">

                <div class="intro-text">
                        <span class='intro-top'>Hello, What can I do for you?</span>
                    <h1 class="intro-typingtext"><span>{{ site.data.settings.title }}</span></h1>
                   <p class="kicker">{{ site.data.settings.description }}</p>
                </div>

        </div>


  </div>
  </div>
</header>
