html,body
  font-family: 'Catamaran', sans-serif
  font-weight: 100
  font-size: 10px

.navigation
  background: white
  height: 90px
  z-index: -1

  .logo
    background: url(../img/#{$logo-path})
    background-repeat: no-repeat
    +size(160px)
    height: 50px
    float: left
    margin: 10px 0 0 0px
nav
  float: right
  padding: 30px 30px 0 0

  a
    display: inline-block
    margin-left: 20px
    z-index: 2
    color: $orange
    @extend %small-bold
    position: relative
    &::after
      content: ''
      position: absolute
      top: 100%
      left: 0
      background: $orange
      height: 2px
      width: 100%
      transform: scale(0)
      transition: 1s ease all
    &:hover
      color: $text
      &::after
        transform: scale(1)
@media (max-width: 640px)
  nav
    float: none
    text-align: center
    padding-top: 90px
